.my-table-default {
  .ant-card-head {
    color: #c8c498;
    background-color: #03315d;
    font-size: 20px;
    font-weight: 600;
  }
  .plus-btn {
    color: #c8c498 !important;
    :hover {
      cursor: pointer;
    }
  }
  .transit-table .ant-table-tbody > tr.ant-table-row:hover > td,
  .transit-table .ant-table-tbody > tr > td.ant-table-cell-row-hover:hover {
    background: #67efa9 !important;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms;
    color: #ffffff;
    background: linear-gradient(#67efa9 0 0) no-repeat calc(200% - var(--p, 0%))
      100% / 200% var(--p, 0.08em);
    transition: 0.1s var(--t, 0s),
      background-position 0.3s calc(0.3s - var(--t, 0s));
  }
}
